<!doctype html>
<html>
<head>
	<title>Razor code examples</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=deivce-width" />
</head>
<body>
	@*Simple c#-insertions*@
	<p>Date: @DateTime.Now.ToLongDateString()</p>

	<p>@(2 + 2)</p>

	<p>@(2 + 2)</p>
	<p>

	</p>	

</body>
</html>
