<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Partail-page</title>
</head>
<body>
	<div>
		<h2>Вставка частичного прдеставления: </h2>
		@Html.Partial("_ShowPartial")
	</div>
</body>
</html>