@using SingleModel.Models;
@model Game;
<!doctype html>
<html>
<head>
    <title>@Model.Name</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <h2>Game: @Model.Name</h2>
    <h2>Platform: @Model.Platform</h2>
    <h2>Engine: @Model.Engine</h2>
</body>
</html>