<!doctype html>
<html>
<head>
    <title>User registation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" action="~/Home/ProceedResult">
        <label>Name:</label><br />
        <input type="text" name="user.Name" /><br />
        <label>Surname:</label><br />
        <input type="text" name="user.Surname" /><br />
        <label>Age:</label><br />
        <input type="number" name="user.Age" /><br />
        <input type="submit" name="Register" /><br />
    </form>
</body>
</html>

